@import  "../../styleSettings/defines.scss";

:root {
    --index: calc(1vw + 1vh)
}

.inputWrapper{
    display: flex;
    align-items: center;
    gap: calc(var(--index) * .4);
    &__input{
        width: calc(var(--index) * 11);
        border: 2.4px solid $defaultWhite;
        background: transparent;
        color: $defaultWhite;
        font-size: calc(var(--index) * .7);
        font-weight: 500;
        padding: calc(var(--index) * .25) calc(var(--index) * 1) calc(var(--index) * .3);
        border-radius: calc(var(--index) * 1);

        &::placeholder{
            font-weight: 600;
            font-size: calc(var(--index) * .6);
            opacity: .8;
        }
    }
    &__input:focus{
        outline: none;
        border-color: #FF696C;
        transition: 0.5s;
    }
    &__button{
        background: none;
        border: none;
        font-size: calc(var(--index) * 1.2);
        color: $defaultWhite;
        transition: 0.3s;
        cursor: pointer;
    }
    &__button:hover{
        transform: translateY(calc(var(--index) * -0.2));
        transition: 0.3s;
    }
}