@import  "../../styleSettings/defines.scss";

:root {
    --index: calc(1vw + 1vh)
}

.inputWrapper{
    display: flex;
    // justify-content: space-around;
    align-items: center;
    gap: calc(var(--index) * .3);
    // width: calc(var(--index) * 11.3);
    &__input{
        // height: calc(var(--index) * 1.3);
        width: calc(var(--index) * 11);
        // border-radius: 74px;
        border: 2.4px solid $defaultWhite;
        background: transparent;
        color: $defaultWhite;
        font-size: calc(var(--index) * .7);
        font-weight: 500;
        padding: calc(var(--index) * .3) calc(var(--index) * 1) calc(var(--index) * .35);
        border-radius: calc(var(--index) * 1);
        // padding-left: 16px;

        &::placeholder{
            font-weight: 600;
            font-size: calc(var(--index) * .6);
            opacity: .8;
        }
    }
    &__input:focus{
        outline: none;
    }
    &__button{
        background: none;
        border: none;
        font-size: calc(var(--index) * 1.1);
        color: $defaultWhite;
        cursor: pointer;
    }
}