@import '../../../../styleSettings/defines.scss';

.button{
    height: calc(var(--index) * 1.7);
    width: calc(var(--index) * 3.5);
    font-size: $mainTextFontSize;
    font-weight: 600;
    background-color: $defaulPurple;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
.button:disabled{
    opacity: 0.5;
    transition: 0.3s;
}