:root {
    --index: calc(1vw + 1vh)
}

.InformationPage7 {
    z-index: 99;
    position: relative;
    margin: 0 auto;
    padding-top: calc(var(--index) * 5);
    width: 85vw;
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 2.5);
    &__wrapper-container{
        display: flex;
        justify-content: space-around;
        gap: calc(var(--index) * 1);
        align-items: flex-end;
    }
    &__container {
        display: flex;
        gap: calc(var(--index) * 1);
        flex-direction: column;
        width: 60vw;
        &__img{
            background-color: #D999FF;
            height: calc(var(--index) * 11);
            width: calc(var(--index) * 9);
            img{
                width: auto;
                height: calc(var(--index) * 9);
                top: calc(var(--index) * 2);
                right: calc(var(--index) * 1);
                position: relative;
            }
        }
        &__title-div {
            gap: calc(var(--index) * 0.7);
            display: flex;
            flex-direction: column;
            color: #fff;
            &__title {
                color: #D999FF;
                font-size: calc(var(--index) * 2);
                font-weight: 700;
            }

            &__sub-title {
                font-size: calc(var(--index) * 1.1);
                font-weight: 700;
            }
        }

        &__textarea {
            height: calc(var(--index) * 9);
            width: calc(var(--index) * 37);
            padding-top: calc(var(--index) * 0.5);
            padding-left: calc(var(--index) * 0.7);
            resize: none;
        }
    }
    &__button{
        width: calc(var(--index) * 9);
        margin: 0 auto;
    }
}