@import  "../../styleSettings/defines.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    // color: $defaultWhite;
}

:root {
    --index: calc(1vw + 1vh)
}

.homepage {
    background-color: $defaultBlack;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@keyframes opacity {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.03;
    }
    25%{
        opacity: 0.05;
    }
    35%{
        opacity: 0.07;
    }
    50%{
        opacity: 0.1;
    }
    65%{
        opacity: 0.07;
    }
    75%{
        opacity: 0.05;
    }
    90%{
        opacity: 0.03;
    }
    100%{
        opacity: 0;
    }
}

.homepage__gradient {
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.1;
    animation-name: opacity;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.homepage__container {
    width: 85%;
    height: max-content;
    padding-top: calc(var(--index) * 4.5);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banners {
    width: 100%;
    height: 55vh;
    border-radius: calc(var(--index) * 1);
    overflow: hidden;
}

.banners__container {
    width: 505%;
    height: 100%;
    display: flex;

    >input {
        display: none;
    }
}

.banner__1,
.banner__2,
.banner__3 {
    width: 85vw;
    height: 100%;
    transition: 3s;
}

.banner__1 {
    background-color: #DF4245;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--index) * 1);
    padding: 0 calc(var(--index) * 3.5);

    .banner1__content {
        margin-top: calc(var(--index) * -1);

        >p {
            color: #111111;
            font-weight: 800;
            font-size: calc(var(--index) * 3);
            line-height: 1.1;
            text-shadow: 0px calc(var(--index)* 1.6) 0px rgba(255, 255, 255, 0.127);
        }

        >button {
            position: relative;
            margin-top: calc(var(--index) * 3);
            padding: calc(var(--index) * .6) calc(var(--index) * 1.4);
            color: $defaultWhite;
            font-size: calc(var(--index) * .8);
            font-weight: 600;
            background-color: #a10116;
            border: calc(var(--index) * .13) solid #a10116;
            cursor: pointer;
            z-index: 1;
            border-radius: calc(var(--index) * .4);
            transition: .4s;
            -webkit-transition: .4s;
            -moz-transition: .4s;
            -ms-transition: .4s;
            -o-transition: .4s;

            &:hover {
                // background: none;
                transition: .4s;
                -webkit-transition: .4s;
                -moz-transition: .4s;
                -ms-transition: .4s;
                -o-transition: .4s;
                background-color: #890002;
            border: calc(var(--index) * .13) solid #890002;
            }
        }
    }

    >img {
        width: calc(var(--index) * 20);
    }
}

.banner__2 {
    background-color: #CA99FF;
    z-index: 2;
}

.banner__3 {
    background-color: #F4D454;
    z-index: 2;
}

.manual__nav {
    position: absolute;
    width: 85vw;
    display: flex;
    justify-content: center;
    gap: calc(var(--index) * 1.4);
    margin-top: calc(var(--index) * -1.5);
    z-index: 99;
}

.manual__btn {
    display: block;
    width: calc(var(--index) * .4);
    height: calc(var(--index) * .4);
    background-color: $defaultWhite;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    opacity: .5;

    &:hover {
        opacity: .8;
    }
}

#radio1 {
    &:checked {
        ~.banner__1 {
            margin-left: 0;
        }
    }
}

#radio2 {
    &:checked {
        ~.banner__2 {
            margin-left: -20%;
        }
    }
}

#radio3 {
    &:checked {
        ~.banner__3 {
            margin-left: -40%;
        }
    }
}

.navigation__auto {
    position: absolute;
    width: 85vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: calc(var(--index) * 1.4);
    margin-top: calc(var(--index) * -1.1);


    >div {
        width: calc(var(--index) * .4);
        height: calc(var(--index) * .4);
        background-color: $defaultWhite;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        cursor: pointer;
        transition: .5s;
        opacity: 0;
        z-index: 99;
    }
}

#radio1 {
    &:checked {
        ~.navigation__auto {
            .auto__btn1 {
                opacity: .8;
                transition: .5s;
            }
        }
    }
}

#radio2 {
    &:checked {
        ~.navigation__auto {
            .auto__btn2 {
                opacity: .8;
                transition: .5s;
            }
        }
    }
}

#radio3 {
    &:checked {
        ~.navigation__auto {
            .auto__btn3 {
                opacity: .8;
                transition: .5s;
            }
        }
    }
}

.homepage__projects{
    padding: calc(var(--index) * 1.2) 0;

    .homepage-projects__projects{
        display: flex;
        flex-direction: column;
        gap: calc(var(--index) * 1.2);
    }

    >h1{
        font-size: calc(var(--index) * 1.6);
        margin-bottom: calc(var(--index) * 1.2);
        margin-left: calc(var(--index) * 1);
        color: $defaultWhite;
    }

    .projects__btn{
        color: $defaultBlack;
        font-weight: 600;
        font-size: calc(var(--index) * .8);
        cursor: pointer;
        padding: calc(var(--index) * .5) calc(var(--index) * 1.2);
        border-radius: calc(var(--index) * 2);
        float: right;
        margin-top: calc(var(--index) * 1.2);
        background-color: $defaultGray;
        text-decoration: none;
        transition: .4s;

        &:hover {
            opacity: .8;
            transition: .4s;
        }
    }
}