@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --index: calc(1vw + 1vh)
}

body {
    background-color: #111111;
}

$defaultWhite: #fffffffc;
$defaultGray: #D9D9D9;
$defaultBlack: #111111;
$defaulPurple: #D999FF;

$mainTextFontSize: calc(var(--index) * .8); 

@mixin titleText {
    color: $defaulPurple;
    font-size: calc(var(--index) * 2);
    font-weight: 700;
}   
@mixin titleDescription {
    font-size: calc(var(--index) * 1);
    font-weight: 700;
    color: $defaultWhite;
}