

:root{
    --index: calc(1vw + 1vh)
}

.InformationPage5{
    margin: 0 auto;
    padding-top: calc(var(--index) * 5);
    height: max-content;
    display: flex;
    width: 85vw;
    flex-direction: column;
    gap: calc(var(--index) * 1);
    &__title-container{
        display: flex;
        flex-direction: column;
        gap: calc(var(--index) * 0.7);
        &__title{
            color: #D999FF;
            font-size: calc(var(--index) * 2);
            font-weight: 700;
        }
        &__description{
            font-size: calc(var(--index) * 1.1);
            font-weight: 700;
            color: #fff;
        }
    }
    &__container{
        display: flex;
        flex-direction: column;
        gap: calc(var(--index) * 0.9);
        &__input-focus{
            width: calc(var(--index) * 25);
        }
        &__input-focus:focus{
            border-color: #D999FF;
        }
    }
    &__addGraduation-btn{
        margin-left: 0;
    }
}
