@import '../../../../styleSettings/defines.scss';

.InformationPage5{
    margin: 0 auto;
    padding-top: calc(var(--index) * 5);
    height: max-content;
    display: flex;
    width: 85vw;
    flex-direction: column;
    gap: calc(var(--index) * 1);
    &__title-container{
        display: flex;
        flex-direction: column;
        gap: calc(var(--index) * 0.7);
        &__title{
            @include titleText;
        }
        &__description{
            @include titleDescription;
        }
    }
    &__container{
        display: flex;
        flex-direction: column;
        gap: calc(var(--index) * 0.9);
        &__input{
            width: calc(var(--index) * 25);
            border: 2.4px solid $defaultWhite;
            background: transparent;
            color: $defaultWhite;
            font-size: $mainTextFontSize;
            font-weight: 600;
            padding: calc(var(--index) * .5) calc(var(--index) * 1.3);
            border-radius: calc(var(--index) * 4);
            outline: none;
        }
        &__input:focus{
            border-color: $defaulPurple;
        }
        &__button{
            background: none;
            border: none;
            font-size: calc(var(--index) * 1.2);
            color: $defaultWhite;
            transition: 0.3s;
            cursor: pointer;
            margin-left: calc(var(--index) * 0.5);
        }
        &__button:hover{
            transform: translateY(calc(var(--index) * -0.2));
            transition: 0.3s;
        }
    }
    &__addGraduation-btn{
        margin-left: 0;
    }
}
