@import "../../styleSettings/defines.scss";

:root {
    --index: calc(1vw + 1vh)
}

.header{
    padding: calc(var(--index) * 1.2) 0 calc(var(--index) * 1);
    width: 100vw;
    margin: 0 auto;
    z-index: 999;
    position: fixed;
    background-color: #111111f5;
    display: flex;
    justify-content: center;
    &__container{
        width: 85vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__elements{
        display: flex;
        gap: calc(var(--index) * 2);
        align-items: center;
        &__a{
            color: $defaultWhite;
            text-decoration: none;
            font-size: calc(var(--index) * 0.8);
            font-family: "Inter";
            font-weight: 600;
            transition: 0.3s ease;
            cursor: pointer;
        }
        &__a:hover{
            transform: translateY(calc(var(--index) * -0.2));
            text-shadow: calc(var(--index) * 0.1) calc(var(--index) * 0.1) calc(var(--index) * 0.3) #FF696C;
        }
        &__a:first-of-type{
            font-weight: 700;
            font-size: calc(var(--index) * 1.2);
        }
    }
    &__inputContainer{
        align-items: center;
        display: flex;
        gap: calc(var(--index)* 1);
        &__profileImg{
            font-size: calc(var(--index) * 1.4);
            color: $defaultWhite;
        }
    }
}