@import "../../styleSettings/defines.scss";

:root {
    --index: calc(1vw + 1vh)
}

.header{
    padding: calc(var(--index) * 1.2) 0 calc(var(--index) * 1);
    width: 100vw;
    margin: 0 auto;
    z-index: 999;
    position: fixed;
    background-color: #111111f5;
    display: flex;
    justify-content: center;
    &__container{
        width: 85vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__elements{
        display: flex;
        gap: calc(var(--index) * 2);
        align-items: center;
        &__a{
            color: $defaultWhite;
            text-decoration: none;
            font-size: calc(var(--index) * 0.8);
            font-family: "Inter";
            font-weight: 600;
            transition: 0.3s;
            cursor: pointer;
        }
        &__a:hover{
            transform: translateY(calc(var(--index) * -0.2));
        }
        &__a:first-of-type{
            font-weight: 700;
            font-size: calc(var(--index) * 1.2);
        }
    }
    &__inputContainer{
        align-items: center;
        display: flex;
        gap: calc(var(--index)* 1);
        &__input{
            width: calc(var(--index) * 15);
            height: calc(var(--index) * 1.8);
            border: 2.4px solid #fff;
            background: transparent;
            color: #fff;
            font-size: calc(var(--index) * .8);
            font-weight: 600;
            padding-left: calc(var(--index) * 0.7);
            border-radius: calc(var(--index) * 4);
            outline: none;
        }
        &__input:focus{
            border-color: #D999FF;
        }
        &__button{
            background: none;
            border: none;
            color: #fff;
            transition: 0.3s;
            font-size: calc(var(--index) * 1.4);
        }
        &__button:hover{
            transform: translateY(calc(var(--index) * -0.2));
            transition: 0.3s;
        }
        &__profileImg{
            font-size: calc(var(--index) * 1.4);
            background: none;
            outline: none;
            border: none;
            color: $defaultWhite;
            transition: 0.3s;
            cursor: pointer;
        }
        &__profileImg:hover{
            transform: translateY(calc(var(--index) * -0.2));
            transition: 0.3s;
        }
    }
}