:root {
    --index: calc(1vw + 1vh)
}
.LanguageComponent{
    display: flex;
    gap:  calc(var(--index) * 0.5);
    align-items: center;
    padding: calc(var(--index) * 0.2) calc(var(--index) * 0.9) calc(var(--index) * 0.2) calc(var(--index) * 0.9);
    height: calc(var(--index) * 2);
    background-color: rgba(217, 217, 217, 5%);
    color: #fff;
    border: none;
    border-radius: 27px;
    p{
        font-size: calc(var(--index) * 1);
        font-weight: 600;
    }
    &__img{
        font-size: calc(var(--index) * 1);
    }
}