@import '../../../../styleSettings/defines.scss';

:root {
    --index: calc(1vw + 1vh)
}
.LanguageComponent{
    display: flex;
    gap:  calc(var(--index) * 0.6);
    align-items: center;
    padding: calc(var(--index) * 0.7) calc(var(--index) * 1.4);
    background-color: rgba(217, 217, 217, 0.074);
    color: #fff;
    border: none;
    border-radius: 27px;
    p{
        font-size: $mainTextFontSize;
        font-weight: 600;
    }
    &__img{
        font-size: $mainTextFontSize;
        cursor: pointer;
        margin-bottom: calc(var(--index) * -.08);
    }
}