@import '../../../../styleSettings/defines.scss';

.InformationPage4{
    margin: 0 auto;
    padding-top: calc(var(--index) * 5);
    height: max-content;
    display: flex;
    width: 85vw;
    flex-direction: column;
    gap: calc(var(--index) * 2);
    &__title{
        @include titleText;
    }
    &__container{
        display: flex;
        flex-direction: column;
        gap: calc(var(--index) * 1.5);
        &__element{
            display: flex;
            gap: calc(var(--index) * 0.5);
            color: $defaultWhite;
        }
    }
    &__btn-wrapper{
        margin-left: 70vw;
    }
}