:root {
    --index: calc(1vw + 1vh)
}
.InformationPage4{
    z-index: 99;
    position: relative;
    margin: 0 auto;
    padding-top: calc(var(--index) * 5);
    height: max-content;
    display: flex;
    width: 85vw;
    flex-direction: column;
    gap: calc(var(--index) * 2);
    &__title{
        color: #D999FF;
        font-size: calc(var(--index) * 2);
        font-weight: 700;
    }
    &__container{
        display: flex;
        flex-direction: column;
        gap: calc(var(--index) * 1.5);
        &__element{
            display: flex;
            gap: calc(var(--index) * 0.5);
            color: #fff;
            label{
                display: flex;
                align-items: center;
                gap: calc(var(--index) * 0.5);
                cursor: pointer;
                input{
                    display: none;
                }
            }
            &__title{
                position: relative;
                font-size: calc(var(--index) *1);
                font-weight: 600;
                color: #fff;  
                line-height: calc(var(--index) * 1);
            }
            &__description{
                color: rgba(255, 255, 255, 0.55);
                font-size: calc(var(--index) * 0.7);
            }
            &__title:before,
            &__title:after {
            content: '';
            }
            &__title:before {
                border: calc(var(--index) * 0.1) solid #CA99FF;
                width: calc(var(--index) * 0.8);
                height: calc(var(--index) * 0.8);
                margin-right: calc(var(--index) * 0.3);
                display: inline-block;
                vertical-align: top;
            }
            &__title:after {
                background: #CA99FF;
                width: calc(var(--index) * 0.5);
                height: calc(var(--index) * 0.5);
                position: absolute;
                top: calc(var(--index) * 0.23);
                left: calc(var(--index) * 0.21);
                transition: 300ms;
                opacity: 0;
            }
            label input:checked+span:after {
                opacity: 1;
              }
            // &__label{
            //     display: flex;
            //     align-items: center;
            //     gap: calc(var(--index) * 0.5);
            // }
            // &__label-title{
            //     font-size: calc(var(--index) *1);
            //     font-weight: 600;
            //     color: #fff;
            // }
            // &__label-description{
            //     color: rgba(255, 255, 255, 0.55);
            //     font-size: calc(var(--index) * 0.7);
                
            // }

        }
    }
    &__btn-wrapper{
        margin-left: 70vw;
    }
}